<div class="shadow-2xl w-full  ">
  <div class="container mx-auto grid grid-cols-12 justify-center items-center">
    <div class="col-span-10">
      <ul class="flex justify-evenly flex-row-reverse text-sm sm:text-lg">
        <li class=" hover:font-bold hover:scale-110 duration-500 cursor-pointer">الصفحه الرئيسيه</li>
        <li class=" hover:font-bold hover:scale-110 duration-500 cursor-pointer">انواع الاقمشه</li>
        <li class=" hover:font-bold hover:scale-110 duration-500 cursor-pointer">عروض اليوم</li>
        <li class=" hover:font-bold hover:scale-110 duration-500 cursor-pointer">تواصل معنا</li>
      </ul>
    </div>
    <img class="w-44 col-span-2" src="assets\logo\91338.png" alt="">
  </div>
</div>
