<section class="relative overflow-hidden mb-2">
  <!-- The video -->
  <video autoplay muted loop class="w-full h-full object-cover absolute z-0 mt-0">
    <source src="assets\video\vHeader.mp4">
  </video>

  <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>

  <div class="container mx-auto relative z-50">
    <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
      <h1 class="font-bold uppercase mb-2 text-3xl md:text-5xl lg:text-7xl" >أرقي وأجود الاقمشه النسائيه والسواريهات</h1>
    </div>
  </div>
</section>
